<h1>
  <%= @category.name %>
</h1>

<div class="container">
  <% @category.products.each do |product| %>
      <h3><%= product.title %></h3>
      <%= link_to 'Info', admins_product_path(product), class:"btn btn-primary" %>
      <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_admins_product_path(product), class:"btn btn-secondary" %>
          <%= link_to 'Delete', admins_product_path(product), method: :delete, data: { confirm:"Are you sure?"}, class:"btn btn-danger"%>
      <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
